<div id="page-content">
  <h1 class="text-center mt-4">Create a new article</h1>

  <div class="container">
    <div class="row justify-content-center">
      <%= render 'form' %>
    </div>
  </div>
</div>
